/** {
	outline: solid 2px red !important;
}*/

@font-face {
	font-family: 'Robot';
	src: url('../fonts/MrRobot.woff') format('woff'),
         url('../fonts/MrRobot.ttf') format('truetype');

}

body {
	width: 100%;
	margin: 0 0;
	background: #ccc;
	z-index: 2;
}

section {
	z-index: 1;
}

header {
	background: url('../img/galaxy2.jpg')no-repeat bottom fixed;
	background-size: cover;
	height: 650px;
	padding-top: 15px;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;

}

h1 {
	text-align: center;
	font-family: 'Robot', sans-serif;
	font-weight: 500;
	clear: both;
	padding-top: 150px;
	color: rgba(215,0,0,.9);

}


.yolo {
	display: inline; /*Allows the h1 element to have a border by adding block level to it*/
	padding: 0.2em 0.2em 0.1em 0.2em;/* adds padding around the box*/
	border: black solid 5px;
	text-transform: uppercase;
	font-size: 75px;
	letter-spacing: .12em;

}

nav {

	margin-top: -60px;

}

nav a {
	display: inline-block;
	margin: 10px;
	text-transform: uppercase;	
}
.navi {
	text-align: center;
}



nav a:hover {
	color: rgba(0,0,0,1);
}

section {
	height: 800px;
	background: red;
}

.content {
	position: relative;
	z-index: 2;
	margin-bottom: 273px;
	background: #ccc;
}

section ul li img {
	z-index: 3;
}

.kangaroo {
	height: 5em;
	width: 5em;
	padding: 0 0 0 10px;
}

.kicker {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .21em;
	font-family: 'Robot', sans-serif;
	color: red;
	font-size: 18px;
}

.penhide {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	opacity: 1;
	z-index: 2;
	margin-bottom: -100px;
	
}



/*****************************************
		FOOTER STYLES
*******************************************/
footer {
	background: black;
	color: white;
	padding: 50px 0;/*moves the info down*/
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -1;

}

footer a {
	color: white;
	text-decoration: none;
}

footer li {
	list-style: none;
	display: inline;
}

.copy {
	clear: both;
	padding: 0 0 0 0;
	margin: 0;
	text-align: center;
	margin-top: 35px;
	color: yellow;
}


/**********************************************
		About Section
***********************************************/
h3 {
	text-align: center;
	z-index: -4;
	margin: 0 0;
	padding-top: 10px;
}

.face {
	max-width: 780px;
/*	display: flex;*/
}

section {
	background: #ccc;
	margin-bottom: 250px;
	height: 2500px;
}

.face-round {
	width: 200px;
	height: 200px;
/*	border-radius: 40%;
	background: url('../img/Penguin2.png') no-repeat right;*/
}

.sec1 {
	height: 50px;
	background: Black;
	margin: 0 auto;

}

.sec2 {
	height: 800px;

}
.sec1 h3 {
	margin: 0 auto;
	padding: 10px 0 0;
	color: white;

}

.activeSoc a:active {
	color: red;
}

.aboutme {
	font-size: 25px;
	text-align: center;
}
/**********************************************
		Media Queries
*************************************************/

@media screen and (max-width: 663px) {
	span {
		border: none;
	}
}


/**************************************************
	Img Animate 6
*****************************************************/


/*#pen1 {
	margin: 0 50px 0 0;
}
#pen2 {
	margin: 0 50px 0 0;
}
#pen3 {
	margin: 0 50px 0 0;
}*/

#pen1, #pen2, #pen3, #pen4, #pen5, #pen6 {
	padding: 0;
	margin-bottom: -275px;

}


#hide1, #hide2, #hide3, #hide4, #hide5 {
	color: white;
	margin: -35px 10px 0 0;
	font-family: 'Oldenburg', cursive;
	font-weight: 700;
	font-size: 4em;

}

.sound {
	display: none;
}

#hide3 {
	font-size: 3.5em;
}

#hide6 {
	color: green;
	margin: -35px 10px 0 0;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 1.8em;
}

#hide1, #hide4 {
	color: red;
}

#hide2, #hide5 {
	color: white;
}

#hide3, #hide6 {
	color: blue;
}
